<form [formGroup]="formLogin" class="from-login ">
    <div class="container-login">
        <h2 class="container-login-title">Doctor Fast - Log in</h2>
        <div class="container-circle">
            <div class="container-login-container">
                <label class="container-login-label">Username</label>
                <div class="container-login-input">
                    <input type="text" name="username" class="form-control" formControlName="username">
                </div>
            </div>
            <div class="container-login-container">
                <label class="container-login-label">Password</label>
                <div class="container-login-input">
                    <input type="password" name="password" autocomplete="on" class="form-control" formControlName="password">
                </div>
            </div>

            <p *ngIf="!notFound" class="alert alert-danger">No se ha encontrado ningun usaurio con ese usuario y contraseña</p>

            <button class="btn btn-primary" (click)="Startlogin()">Login</button>
        </div>
    </div>
</form>
