<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido P.</th>
        <th scope="col">Apellido M.</th>
        <th scope="col">DNI</th>
        <th scope="col" class="delete-with-responsive">Acceso</th>
        <th scope="col" class="delete-with-responsive">Ver</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctorsList">
            <td>{{doctor.usuario.nombre}}</td>
            <td>{{doctor.usuario.apellidoPaterno}}</td>
            <td>{{doctor.usuario.apellidoMaterno}}</td>
            <td>{{doctor.usuario.dni}}</td>
            <td class="delete-with-responsive">
                <span *ngIf="!doctor.habilitado">
                    <span class="btn btn-danger btn-image-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span>
                </span>
                <span *ngIf="doctor.habilitado">
                    <span class="btn btn-success btn-image-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                    </span>
                </span>
            </td>
            <td class="delete-with-responsive">
                <a type="button" class="btn btn-primary btn-image-center" (click)="viewDoctor(doctor)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg>
                    <span class="space-button">Ver</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>